<article class="card who-to-follow">
  <h2>Who to Follow</h2>
  <section>
    <figure class="gravatar-small">
      <img>
    </figure>
    <strong>John Smith</strong>
    <small>@johnsmith</small>
  </section>
  <section>
    <figure class="gravatar-small">
      <img>
    </figure>
    <strong>John Smith</strong>
    <small>@johnsmith</small>
  </section>
  <section>
    <figure class="gravatar-small">
      <img>
    </figure>
    <strong>John Smith</strong>
    <small>@johnsmith</small>
  </section>
</article>